<script>document.title = "刘宇杭";</script>
<script>
(function() { if (location.pathname.includes('/about')) document.documentElement.className += ' is-about-page'; })();
</script>
<style>
html.is-about-page .sidebar-nav-toc { display: none !important; }
html.is-about-page .sidebar-panel-toc { display: none !important; }
</style>
